.spinner {
	padding: 0;
	margin: 0;
	border: 0;
	text-align: right;
	color: #393939;
	font-weight: bold;
	border-bottom: 1px dotted #393939;
	display: inline-block;
	width: 100%;
	background: transparent
}


.main {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.box {
	width: 40px;
	padding: 0px 2px;
	display: inline-block;
	position: relative;

	top: 20px;
	left: 20px;
}

.progress {
	border-radius: 2px;
	width: 0%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	opacity: 0.85;
	background: #dedede;
	display: inline-block;
}
